<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Voice Buddy</title>

<link rel="stylesheet" href="/static/style.css">

</head>

<body>

<div class="app">

    <!-- Header -->
    <div class="header">
        🤝 I'm Your Friend
    </div>

    <!-- Chat -->
    <div class="chat" id="chat"></div>
    <!-- Input -->
        <div class="input-bar">
            <button id="micBtn" class="mic-button">🎤<wa-icon name="microphone"></wa-icon></i></button>
            <input id="textInput" placeholder="Type your message..." />
            <div class="button-group">
                <button id="sendBtn" class="action-btn">➤</button>
                <button id="stopBtn" class="action-btn stop-btn">🔴</button>
            </div>
    </div>

</div>

<script src="/static/script.js"></script>

</body>
</html>